* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  background-image: url("./assets/bg.png");
  background-size: cover;
}
.navbar > div > img {
  margin-top: 10px;
  margin-left: 36px;
  width: 90px;
  height: 30px;
}

.navbar {
  background-color: black;
  height: 66px;
}

.line {
  position: absolute;
  top: 10px;
  left: 200px;
  background-color: white;
  width: 1px;
  height: 32px;
}

.down-arrow {
  position: absolute;
  top: 10px;
  left: 312px;
  width: 2px;
}

.down-image {
  width: 20px; 
  height: 16px;
}

.grow-list {
  position: absolute;
  top: 15px;
  left: 250px;
}
.list {
  list-style: none;
  margin-bottom: 30px;
  text-align: center;
}

.list-item {
  display: inline-block;
  color: white;
  margin-left: 60px;
}

.button-small {
  position: absolute;
  top: 15px;
  right: 60px;
  background-color: #ba0cc5;
  border-color: #ba0cc5;
  color: white;
  width: 140px;
  height: 34px;
  border-radius: 10px;
  font-weight: bold;
  border-style: solid;
}
.button-large {
  position: absolute;
  top: 460px;
  left: 530px;
  background-color: #ba0cc5;
  color: white;
  width: 280px;
  height: 50px;
  border-radius: 10px;
  font-size: 24px;
  border-style: solid;
  border-color: #ba0cc5;
}

.hero-heading {
  position: absolute;
  top: 200px;
  left: 380px;
  font-size: 76px;
  color: white;
}

.hero-description {
  position: absolute;
  top: 400px;
  left: 430px;
  font-size: 24px;
  color: white;
}
